body {
  background-color: #D5E1EF;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
h1, p {
  margin:0;
}
.container {
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 320px;
  border-radius: 18px;
}
.img-div {
  width: 90%;
  padding-top: 16px; 
  padding-right: 16px;
  padding-left: 16px;
}
.img-div img {
  width: 100%;
  border-radius: 10px;
}
.writeup {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 36px;
  width: 84.375%;
}
.writeup h1,
.writeup p {
  font-family: Outfit, Arial;
  width: 100%;
}
.bold-top {
  font-size: 23px;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  margin-bottom: 14px;
}
.qr-prompt {
  color: hsl(216, 15%, 48%);
  font-size: 15px;
  font-weight: 400;
}/*
@media(max-width: 500px) {
  .container {
    width: 100px;
  }
  .img-div {
    padding-top: 6px;
  }
  .writeup {
    margin-top: 10px;
    margin-bottom: 16px;
  }
  .bold-top {
    font-size: 8px;
    margin-bottom: 8px;
  }
  .qr-prompt {
    font-size: 6px;
  }
} 
  */
